.m-t-15 {
  margin-top: 25px;
}
.m-b-45 {
  margin-bottom: 45px;
}

.slide {
  transition: margin 0.5s;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -o-transition: margin 0.5s;
}
